.footer {
    background-color: #333; 
    padding: 20px;
    text-align: center;
}

.footer-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
}



.bewakoof-name {
    color: #f4de64;
    font-size: 24px;
    font-weight: bold;
    margin: 0;
}

.footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-links ul li {
    display: inline-block;
    margin: 0 10px;
}

.footer-links ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
    display: flex;
    align-items: center;
}

.footer-links ul li a:hover {
    color: #ffd700; 
}

.footer-links ul li a svg {
    margin-right: 8px;
}

.footer-policy {
    margin-top: 20px;
    font-size: 14px;
    color: #ffffff; 
}



