.container {
    padding: 1rem;
}

.title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.content {
    display: flex;
    align-items: flex-start;
    gap: 100px;
}

.filters {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 200px; /* Adjust as needed */
}

.filters label {
    margin-bottom: 10px;
}
.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    margin-top: 20px; /* Adjust margin as needed */
}

@media (min-width: 640px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 768px) {
    .grid-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 1024px) {
    .grid-container {
        grid-template-columns: repeat(4, 1fr);
    }
}

.product-card {
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.product-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.product-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    flex: 1;
}

.product-details {
    padding: 1rem;
}

.product-name {
    font-size: 1.1rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
}

.product-brand,
.product-price,
.product-rating {
    color: #4A5568;
    margin-bottom: 0.25rem;
}



